html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    background: #141516;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

hr {
    border: 0;
    display: block;
    height: 1px;
    background: rgba(69, 76, 76, 0.5);
    margin-top: 24px;
    margin-bottom: 24px
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 24px
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li>ul,
li>ol {
    margin-bottom: 0
}

dl {
    margin-top: 0;
    margin-bottom: 24px
}

dt {
    font-weight: 700
}

dd {
    margin-left: 24px;
    margin-bottom: 24px
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle
}

figure {
    margin: 24px 0
}

figcaption {
    font-size: 16px;
    line-height: 30px;
    padding: 8px 0
}

img,
svg {
    display: block
}

table {
    border-collapse: collapse;
    margin-bottom: 24px;
    width: 100%
}

tr {
    border-bottom: 1px solid #454C4C
}

th {
    text-align: left
}

th,
td {
    padding: 10px 16px
}

th:first-child,
td:first-child {
    padding-left: 0
}

th:last-child,
td:last-child {
    padding-right: 0
}

html {
    font-size: 20px;
    line-height: 32px
}

body {
    color: #768696;
    font-size: 1rem
}

body,
button,
input,
select,
textarea {
    font-family: "Heebo", sans-serif
}

a {
    color: inherit;
    text-decoration: underline
}

a:hover,
a:active {
    outline: 0;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    clear: both;
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600
}

h1,
.h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.2px
}

@media (min-width: 641px) {

    h1,
    .h1 {
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 0px
    }
}

h2,
.h2 {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.1px
}

@media (min-width: 641px) {

    h2,
    .h2 {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.2px
    }
}

h3,
.h3,
blockquote {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.1px
}

@media (min-width: 641px) {

    h3,
    .h3,
    blockquote {
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -0.1px
    }
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.1px
}

@media (max-width: 640px) {
    .h1-mobile {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.2px
    }

    .h2-mobile {
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -0.1px
    }

    .h3-mobile {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.1px
    }

    .h4-mobile,
    .h5-mobile,
    .h6-mobile {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.1px
    }
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6,
.text-light .h1,
.text-light .h2,
.text-light .h3,
.text-light .h4,
.text-light .h5,
.text-light .h6 {
    color: #fff !important
}

h1,
h2,
.h1,
.h2 {
    margin-top: 48px;
    margin-bottom: 16px
}

h3,
.h3 {
    margin-top: 36px;
    margin-bottom: 12px
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    margin-top: 24px;
    margin-bottom: 4px
}

p {
    margin-top: 0;
    margin-bottom: 24px
}

dfn,
cite,
em,
i {
    font-style: italic
}

blockquote {
    color: #9CACBC;
    font-style: italic;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px
}

blockquote::before {
    content: "\201C"
}

blockquote::after {
    content: "\201D"
}

blockquote p {
    display: inline
}

address {
    color: #768696;
    border-width: 1px 0;
    border-style: solid;
    border-color: #454C4C;
    padding: 24px 0;
    margin: 0 0 24px
}

abbr,
acronym {
    cursor: help
}

b,
strong {
    font-weight: 700
}

button,
input,
select,
textarea,
label {
    font-size: 20px;
    line-height: 32px
}

.container,
.container-sm {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px
}

@media (min-width: 481px) {

    .container,
    .container-sm {
        padding-left: 24px;
        padding-right: 24px
    }
}

.container {
    max-width: 1128px
}

.container-sm {
    max-width: 848px
}

.container .container-sm {
    max-width: 800px;
    padding-left: 0;
    padding-right: 0
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important
}

.screen-reader-text:focus {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    display: block;
    font-size: 16px;
    letter-spacing: -0.1px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    background-color: #141516;
    color: #4353FF !important;
    border: none;
    height: auto;
    left: 8px;
    padding: 16px 36px;
    top: 8px;
    width: auto;
    z-index: 100000
}

.list-reset {
    list-style: none;
    padding: 0
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-primary {
    color: #4353FF
}

.text-secondary {
    color: #43F1FF
}

.has-top-divider {
    position: relative
}

.has-top-divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: rgba(69, 76, 76, 0.5)
}

main {
    flex: 1 0 auto
}

.section-inner {
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px
}

@media (min-width: 641px) {
    .section-inner {
        padding-top: 88px;
        padding-bottom: 88px
    }
}

.site-footer {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px
}

.site-footer a {
    color: #768696;
    text-decoration: none
}

.site-footer a:hover,
.site-footer a:active {
    color: #fff;
    text-decoration: underline
}

.footer-bg,
.footer-dots {
    display: none
}

.site-footer-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px
}

.footer-social-links,
.footer-copyright {
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center
}

.footer-copyright {
    margin-bottom: 24px
}

.footer-social-links {
    margin-bottom: 0
}

.footer-social-links li {
    display: inline-flex
}

.footer-social-links li+li {
    margin-left: 16px
}

.footer-social-links li a {
    padding: 8px
}

@media (min-width: 641px) {
    .site-footer::before {
        height: 202px
    }

    .footer-bg,
    .footer-dots {
        display: block;
        position: absolute
    }

    .footer-bg {
        bottom: 0;
        right: 0
    }

    .footer-dots {
        bottom: 124px;
        right: 127px
    }

    .site-footer-inner {
        justify-content: space-between
    }

    .footer-social-links,
    .footer-copyright {
        flex: 50%
    }

    .footer-social-links {
        justify-content: flex-end
    }
}
