/** General **/
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url('/Atkinson-Hyperlegible-Regular-102.ttf');
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #1E1E1E;
    color: #ffffff;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 18pt;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #d1d9e2;
        color: #000000;
    }
}

/** Header **/

h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 0.67em 0;
    line-height: 50px;
}

/** Main **/

main {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

div.featured-image {
    max-width: 600px;
}

div.text {
    padding: 0 1em;
    z-index: 100;
    max-width: 35em;
}

a {
    color: inherit;
    text-decoration: underline;
    text-underline-position: under;
}

a:hover,
a:active {
    outline: 0;
    background-color: #ffffff;
    color: #000000;
    fill: #000000;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    clear: both;
    font-weight: 600;
}

h2,
.h2 {
    margin-top: 0;
    font-size: 1.5em;
    line-height: 42px;
}

h3,
.h3 {
    font-size: 1.2em;
    line-height: 34px;
    letter-spacing: -0.1px;
    margin-top: 36px;
    margin-bottom: 12px;
}

p {
    margin-top: 0;
    margin-bottom: 1.1em;
}

.section-inner {
    position: relative;
    padding-bottom: 64px;
}

.feature {
    margin-top: 2em;
}

/** Footer **/

.site-footer {
    position: relative;
    font-size: 14px;
    letter-spacing: 0px
}

.footer-bg,
.footer-dots {
    display: none;
}

.container {
    max-width: 100%;
}

.site-footer-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.has-top-divider {
    position: relative;
}

.has-top-divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: rgba(69, 76, 76, 0.5);
}

.list-reset {
    list-style: none;
    padding: 0;
}

.footer-social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.5em;
    row-gap: 0.5em;
    width: 100%;
    margin-bottom: 0;
}

.footer-social-links li {
    display: inline-flex;
}

.footer-social-links li+li {
    margin-left: 16px;
}

.footer-social-links li a {
    fill: #ffffff;
    padding: 8px;
}

.footer-social-links li a:is(:hover, :focus) {
    fill: #000000;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
